.margin {
    margin: 5px;
    padding: 5px;
}

.main {
    border: 4px solid black;
    width: 400px;
    border-radius: 3px;
    
}
.center {
    text-align: center;
}

.spacing{
    display:flex;
    justify-content: space-between;
}