.margin-LR{
    margin: 5px 10px;
}
.underline{
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: blue;
    color: whitesmoke;
    box-shadow: 3px 3px black;
}